/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.navbar-default {
	border-radius: 0;
	border: none;
	background-color: #1f1f1f;
}

.navbar-header {
	width: 100%;
	margin: 0 auto;
}

.navbar-brand {
	padding: 5px 0 0 15px;
	font-size: 20px;
}

.notice, .alert, .update, .create, .destroy {
	color: green;
}

.sign_up_btn {
    margin-top: 10px;
}

.bookers-about-title {
	font-weight: bold;
}

footer {
	text-align: right;
	padding-right: 150px;
}

a {
	color: #696969;
}

a:hover {
	color: red;
}

.bookers-header-title {
	display: inline;
	color: #fff;
	text-align: top;
}

.alert-danger {
	color: red;
	background-color: white;
}

#error_explanation {
	color: red;
}
