// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book_title, .book_body{
	margin-bottom: 10px;
}

.update-book  {
	margin-top: 10px;
}

.edit-title-form {
	margin-bottom: 10px;
}
